%h1
  =render 'admin/breadcrumb'

= simple_form_for @channel, url: admin_channel_path, method: 'PATCH' do |f|
  = f.error_notification

  = f.input :name
  = f.input :description
  = f.input :image, as: :file
  = f.submit 'Update'
